img{
    width: 250px;
    height: 350px;
    padding: 1%;
}
.products{
    /* max-width: 60px; */
    border: 0;
    position: relative;
    float: left;
    /* width: 100%; */
    padding-left: 5%;
}
.new{
    position: absolute;
    top: 10px;
    left: 80px;
    background-color: green;
    border-radius: 50%;
    color: white;
    width: 3vw;
    height: 3vw;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.discount{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: red;
    border-radius: 50%;
    color: white;
    width: 3vw;
    height: 3vw;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}
