body{
    background: url(thor.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}
ul.thor{
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: hsl(0, 0%, 20%);
    padding-bottom: 10px;
}

ul.thor li {
    float: left;
}
ul.thor li a{
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}
ul.thor li.right{float: right;}
.textthor{
    padding-left: 50px;
}
.thortitle{
    position: absolute;
    float: left;
    top: 400px;
    font-size: 50px;
    font-family: sans-serif;
}
.thorpara{
    position: absolute;
    float: left;
    top: 575px;
    width: 1000px;
    font-family: sans-serif;
}

@media screen and (max-width:768px){
    h1{
        font-size: 35px;
    }
    ul.thor{
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: yellow;
    padding-bottom: 10px;
    }
    nav .banner{
        margin: 0;
        padding: 0;
        width:1000px;
    }
    body{
    background: url(thor.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}
}
/* }
@media screen and (min-width:768px) and (max-width:992px){
    h1{
        font-size: 25px;
    }
    ul.thor{
        background-color:lightgreen;
        color: black;
        margin: 0%;
    }
    body{
    background: url(thor.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}
}
@media all and (min-width:992px) and (max-width:1200px){
    ul.thor{
        background-color: red;
        color: white;
    }
    h1{
    position: absolute;
    float: left;
    top: 300px;
    font-size: 35px;
    font-family: sans-serif;
    }   
    p{
    position: absolute;
    float: left;
    top: 350px;
    font-family: sans-serif;
    }
    
}
@media all and (min-width:1200px){
    h1{
        font-size: 35px;
    }
    ul.thor{
        background-color: black;
        color: white;
    }
} */